/* Reset / Initial setup */
:root {
  --color-primary: #006241;
  --color-secondary: #d4e9e2;
  --color-tertiary: #1e3932;
  --color-quaternary: #f4f3ee;
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Sets the font-size to 10px (62.5% of 16px is 10px) Easier to use REM units */
  font-size: 62.5%;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
}

h3 {
  margin-bottom: 2.5rem;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}


/* Box styling */
.box {
  margin-bottom: 3rem;
}

.box-inner {
  max-width: 55%;
  margin: 0 auto;
}

.box-text {
  padding: 3rem 10rem;
}

.box-text .btn {
  margin-top: 2.5rem;
}


/* Grid styles */
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.grid-col-2-gap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: space-between;
}



/* Navigation */
.navbar {
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
  0 0 2px rgb(0 0 0 / 7%);
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar li {
  font-weight: 700;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar__brand img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.navbar__nav-left {
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 20px;
}

.navbar__nav-left a {
  letter-spacing: 1.5px;
}

.navbar__nav-right li:nth-child(1) a {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.navbar__nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.navbar__nav-right .btn {
  font-size: 1.4rem;
}


/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 9;
  transition: all .3s;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 24px;
  background-color: #000;
  transform: rotate(0);
  transition: all .5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.active .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.active .hamburger-middle {
  display: none;
}

.active .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


/* Mobile menu */



/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background: none;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
}

.btn-dark-outline {
  border-color: #000;
  color: #000;
}

.btn-dark-outline:hover {
  background-color: rgba(0, 0, 0, .05);
}

.btn-light-outline {
  border-color: #fff;
  color: #fff;
}

.btn-light-outline:hover {
  background-color: hsla(0,0%,100%,.12);
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-dark:hover {
  background-color: rgba(0, 0, 0, .8);
}

.text-link:hover {
  text-decoration: none;
}


/* Background classes */
.background-extra {
  background-color: var(--color-secondary);
  color: #000;
}

.background-extra-2 {
  color: #000;
}

.background-primary {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}

.background-primary .btn {
  color: var(--color-tertiary);
}

.background-secondary {
  background-color: var(--color-tertiary);
  color: #fff;
}

.background-secondary .btn {
  color: #fff;
}

.background-tertiary {
  background-color: var(--color-quaternary);
  color: var(--color-tertiary);
}


/* Text styling classes */
.text-center {
  text-align: center;
}

.text-x-small {
  font-size: 1.4rem;
  font-weight: 400;
}

.text-small {
  font-size: 1.6rem;
  font-weight: 400;
}

.text-medium {
  font-size: 1.9rem;
  font-weight: 400;
}

.text-large {
  font-size: 2.4rem;
  font-weight: 600;
}

.text-x-large {
  font-size: 5rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 2.4rem;
}


/* Padding / Margin */
.padding-y-medium {
  padding: 3.2rem 0;
}


/* Media queries */
@media(min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-container {
    max-width: 1440px;
  }
}

@media(max-width: 1080px) {
  .text-x-large {
    font-size: 2.8rem;
  }

  .box-text {
    padding: 3rem 6rem;
  }
}

@media(max-width: 800px) {
  html {
    font-size: 55%;
  }

  .hamburger {
    display: block;
  }

  .navbar .navbar__nav-left, .navbar .navbar__nav-right {
    display:none;
  }

  .navbar__brand {
    width: 40px;
    height: 40px;
  }

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid-col-2-gap {
    grid-template-columns: 1fr;
  }

  .box-text {
    order: 2;
  }

  .box-inner {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media(max-width: 560px) {
  html {
    font-size: 45%;
  }
}